= form_for @message do |f|
  -if @message.errors.any?
    #error_explanation
      %h2= "#{pluralize(@message.errors.count, "error")} prohibited this message from being saved:"
      %ul
        - @message.errors.full_messages.each do |msg|
          %li= msg

  %p
    = f.label :content, "Enter your message:"
    %br/
    = f.text_area :content, :size => "60x5"

  %p
    = f.label :expires_at, "Expires:"
    %br/
    = f.select :expires_at, Message::EXPIRATION_OPTIONS.map { |exp| [ exp[:text], Time.now.utc + exp[:value] ] }

  .actions
    = f.submit "Save"
