%h1= @user.name
%p
  = @user.email if @user.email

- if @messages
  - from_time = Time.now.utc
  %h2 Messages:
  %ul
    - @messages.each do |message|
      %li
        = link_to message.content, message
        - if message.expires_at > from_time
          (expires in #{distance_of_time_in_words_to_now(message.expires_at)})
          = link_to 'Edit', edit_message_path(message.id)
        - else
          (expired!)
